<div class="form-wrapper">
  <form action="" class="form">
    <h3>Add New Department</h3>
    <div class="field">
      <label for="">Name</label>
      <input type="text" placeholder="Enter department name" />
    </div>
    <div class="field">
      <label for="">Manager</label>
      <select name="manager" id="manager">
        <option value=""></option>
        <option *ngFor="let employee of employees" value="{{ employee.id }}">
          {{ employee.name }}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Add Department</button>
  </form>
</div>
