a {
 color: orange;
 text-decoration: none;
 transition: all 0.3s ease-in-out;
}

a:hover {
 text-decoration: underline;
}

.form {
 width: 500px;
}

.header {
 margin-bottom: 2rem;
}

.header p {
 font-weight: 500;
 opacity: 0.9;
}

.field {
 display: flex;
 flex-direction: column;
 gap: 0.5rem;
 margin-bottom: 1rem;
}

.field input {
 font-size: 1rem;
 line-height: 48px;
 padding: 0 1rem;
 width: 100%;
 border-radius: 0.5rem;
 border: none;
 outline: none;
 box-shadow: 0 0 1px 1px orange;
 background-color: #FEFCF3;
}

.field input::placeholder {
 font-family: inherit;
 opacity: 0.5;
}

.btn {
 width: 100%;
 border: none;
 outline: none;
 border-radius: 0.5rem;
 margin-top: 1.25rem;
 cursor: pointer;
 line-height: 48px;
 font-family: inherit;
 font-size: inherit;
}

.btn-primary {
 background: orange;
 color: #fff;
}