<div class="list-header">
  <h3>Departments</h3>
  <button class="btn"><a routerLink="new">Add department</a></button>
</div>
<app-spinner *ngIf="isLoading"></app-spinner>
<table *ngIf="!isLoading">
  <thead>
    <tr>
      <th>Name</th>
      <th>Manager</th>
      <th>Teams</th>
      <th>Employees No.</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let department of departments; let idx = index">
      <td>{{ department.name }}</td>
      <td>{{ department.manager.name }}</td>
      <td>
        {{
          getTeamsNames(idx).length > 2
            ? getTeamsNames(idx).slice(0, 2).join(", ") + " and others."
            : getTeamsNames(idx).join(", ")
        }}
      </td>
      <td>{{ department.employees.length }}</td>
      <td>
        <a routerLink="{{ department.id }}">
          <span class="material-symbols-outlined">open_in_full</span>
        </a>
        <a routerLink="{{ department.id }}/edit">
          <span class="material-symbols-outlined">edit</span>
        </a>
        <a routerLink="{{ department.id }}/delete">
          <span class="material-symbols-outlined">delete</span>
        </a>
      </td>
    </tr>
  </tbody>
</table>
