<div class="list-header">
  <h3>Teams</h3>
  <button *ngIf="status === 'MANAGER'" class="btn">
    <a routerLink="new">Add team</a>
  </button>
</div>
<app-spinner *ngIf="isLoading"></app-spinner>
<table *ngIf="!isLoading">
  <thead>
    <tr>
      <th>Name</th>
      <th>Department</th>
      <th>Lead</th>
      <th>Employees No.</th>
      <th *ngIf="status !== 'NOT_LOGGED_IN'">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let team of teams">
      <td>{{ team.name }}</td>
      <td>{{ team.department.name }}</td>
      <td>{{ team.lead.name }}</td>
      <td>{{ team.members.length }}</td>
      <td *ngIf="status !== 'NOT_LOGGED_IN'">
        <a routerLink="{{ team.id }}">
          <span class="material-symbols-outlined">open_in_full</span>
        </a>
        <a *ngIf="status === 'MANAGER'" routerLink="{{ team.id }}/edit">
          <span class="material-symbols-outlined">edit</span>
        </a>
        <a *ngIf="status === 'MANAGER'" routerLink="{{ team.id }}/delete">
          <span class="material-symbols-outlined">delete</span>
        </a>
      </td>
    </tr>
  </tbody>
</table>
