<h3>Employees</h3>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Username</th>
      <th>Salary</th>
      <th>Department</th>
      <th>Team</th>
      <th>Manager</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.id }}</td>
      <td>{{ employee.name }}</td>
      <td>{{ employee.username }}</td>
      <td>{{ employee.salary.gross }}</td>
      <td>{{ employee.department.name }}</td>
      <td>{{ employee.team.name }}</td>
      <td>{{ employee.manager.name }}</td>
    </tr>
  </tbody>
</table>
