.alert {
 display: flex;
 align-items: center;
 padding-left: 1rem;
 margin: 3rem;
 border-radius: 1rem;
 min-width: 500px;
 justify-content: space-between;
 margin-bottom: 2rem;
}

.failure {
 background-color: rgb(219, 163, 154, 0.2);
 border: 2px solid rgb(219, 163, 154);
}

.success {
 background-color: rgb(245, 235, 224, 0.2);
 border: 2px solid rgb(245, 235, 224);
}

.close {
 background-color: transparent;
 border: none;
 outline: none;
 padding: 0.75rem;
 border-radius: 0.5rem;
 cursor: pointer;
 display: flex;
 align-items: center;
 justify-content: center;
}

.material-symbols-outlined {
 color: darkgray;
}