<div class="form-wrapper">
  <form action="" class="form">
    <h3>Edit Team</h3>
    <div class="field">
      <label for="">Name</label>
      <input type="text" placeholder="Edit team name" [value]="team.name" />
    </div>
    <div class="field">
      <label for="">Department</label>
      <select name="department" id="department" [(ngModel)]="departmentId">
        <option value=""></option>
        <option *ngFor="let department of departments" [value]="department.id">
          {{ department.name }}
        </option>
      </select>
    </div>
    <div class="field">
      <label for="">Lead</label>
      <select name="lead" id="lead" [(ngModel)]="leadId">
        <option value=""></option>
        <option *ngFor="let employee of employees" [value]="employee.id">
          {{ employee.name }}
        </option>
      </select>
    </div>
    <div class="field">
      <label for="">Members</label>
      <div class="members-field" *ngFor="let member of team.members">
        <p>{{ member.name }}</p>
        <span
          class="material-symbols-outlined"
          (click)="deleteMember(member.id)"
        >
          delete
        </span>
      </div>
      <label *ngIf="getAvailableMembers().length !== 0">Add Member</label>
      <div *ngIf="getAvailableMembers().length !== 0" class="add-member-field">
        <select name="members" id="members" class="add-member-select" #newMember>
          <option *ngFor="let member of getAvailableMembers()" [value]="member.id">
            {{ member.name }}
          </option>
        </select>
        <button class="btn add-member-btn" (click)="addNewMember()">
          Add Member
        </button>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Edit Team</button>
  </form>
</div>
