<app-spinner *ngIf="isLoading"></app-spinner>
<div class="form-wrapper" *ngIf="!isLoading">
  <form
    class="form"
    #editDepartmentForm="ngForm"
    (ngSubmit)="onSubmit(editDepartmentForm.value)"
  >
    <h3>Edit Department</h3>
    <div class="field">
      <label for="">Name</label>
      <input
        type="text"
        placeholder="Department name"
        [(ngModel)]="department.name"
        name="name"
      />
    </div>
    <div class="field">
      <label for="">Manager</label>
      <select name="manager" id="manager" [(ngModel)]="managerId" ngModel>
        <option value=""></option>
        <option *ngFor="let employee of allEmployees" [value]="employee.id">
          {{ employee.name }}
        </option>
      </select>
    </div>
    <div class="field">
      <label for="">Teams</label>
      <div class="team-field" *ngFor="let team of department.teams">
        <p>{{ team.name }}</p>
        <span class="material-symbols-outlined" (click)="deleteTeam(team.id)">
          delete
        </span>
      </div>
      <label *ngIf="getNewTeams().length !== 0">Add Team</label>
      <div *ngIf="getNewTeams().length !== 0" class="add-team-field">
        <select name="teams" id="teams" class="add-team-select" #newTeam>
          <option *ngFor="let team of getNewTeams()" [value]="team.id">
            {{ team.name }}
          </option>
        </select>
        <button type="button" class="btn add-team-btn" (click)="addNewTeam()">
          Add Team
        </button>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Edit Department</button>
  </form>
</div>
